<section>

<form method="POST" action="/books/{{id}}?_method=DELETE">
<div class="media">
  <a href="/book/{{id}}"><img class="mr-3 covers" src="{{cover}}" alt="Generic placeholder image"></a>
  <div class="media-body">
    <h3 class="mt-0">{{title}}</h5>
		<h5 class='mt-0'><i>{{genre}}</i></h5>
{{description}}
</div> <br>
<div class="item-nav">
<!-- <a href="/book/{{id}}/editBook"> <button type="button" name="button" class='btn btn-primary'>Edit</button></a> -->
<a href="/books/{{id}}/deleteBook"><button type="button" name="button" class="btn btn-danger">Del</button></a>
</div>
</div>
<div class="delButton">
	<input type="submit" class="delete" value="Delete {{book.title}}?" />
</div>
</form>
</section>
