<h1>Authors</h1>
<h6>Search yielded {{author.length}} results</h6>
<a href="/authors/new"> <button type="button" name="button">Add a New author</button></a>
{{#each author}}
<div class="medias">
<div class="media">
  <a href="/authors/{{id}}"><img class="mr-3 covers" src="{{portrait_url}}" alt="Generic placeholder image"></a>
  <div class="media-body">
    <h3 class="mt-0">{{first_name}} {{last_name}}</h5>
{{biography}}
<h5 class="mt-0 "><br><br><br><br><br><br>
	{{#each books}}
	<li>
		<a href="/books/{{id}}">{{title}}</a>
	</li>
	{{/each}}
</h5>
</div> <br>
<div class="item-nav">
<a href="/authors/{{id}}/editAuthor"> <button type="button" name="button" class='btn btn-primary'>Edit</button></a>
<a href="/authors/{{id}}/deleteAuthor"><button type="button" name="button" class="btn btn-danger">Del</button></a>
</div>
</div>
</div>
{{/each}}
